
@font-face {
    font-family: 'pixel-font';
    src: url('fonts/largn___-webfont.eot');
    src: url('fonts/largn___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/largn___-webfont.woff') format('woff'),
         url('fonts/largn___-webfont.ttf') format('truetype'),
         url('fonts/largn___-webfont.svg#large9normal') format('svg');
    font-weight: normal;
    font-style: normal;

}